body{
    background-color: rgb(224, 224, 224);
}
.fa{
    color: blue;
}
span{
    font-size: 13px;
    margin: 15px 1px;
}
.a{
    border-bottom: 1px solid blue;
}
.boxpart{
    background-color: aliceblue;
    padding: 60px 10px;
    margin: 30px 1px  ;
         
}
.maim{
    margin: 20px 1px ;
}

.box{
    padding:50px 1px;
}
.box:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
